if errors
  ul
    each error in errors
      li= error
form(method="post" action="/questionSpaces")
  input(type="hidden" name="_csrf" value=token)
  label Spaces
  input(name="title" type="text" required)
  button(type="submit") Submit