extends layout

append head
  link(rel="stylesheet" href="/stylesheets/nav-story.css")

block content
  div(id='welcome_container')

    if locals.authenticated
      div(class='welcome-user-container')
        img(class='welcome-user-image' src=`${locals.user.profile_picture}`, alt=`${locals.user.user_name}`)
        div(class='welcome-user') #{locals.user.user_name}
    else
      div(class='welcome-user') Welcome!
    h1= 'Our Story'
  div(class='developers-container')

    div(class='developer-Jessi')
      div(class='developer-intr')
        div(class='developer-name', id='developer-name-right') Jessi Zhuo
        div(class='developer-story') I'm Jessi. I graduated from UC Berkeley with a business degree in 2019. During my career in the financial field in the last 2 years. software technologies is implemented everyday and improved efficiency . When I graduated from a/A, I’m interested in the finch tech industry and excited for the path ahead!
        div(class='developer-link' id='developer-link-right')
          a(href='https://zyingzhuo.github.io/' class='portfolio-icon')
            i(class="fas fa-user-circle")
          a(href='https://github.com/zyingzhuo' class='github-icon')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/yingjia-zhuo-25a474170/' class='linkedIn-icon')
            i(class="fab fa-linkedin")
      div(class='developer-image')
        img(src='../image/jessi.jpeg', width='200' height='200' alt='image of a developer named Nick')

    div(class='developer-Kristy')
      div(class='developer-image')
        img(src='../image/kristy.jpeg', width='200' height='200' alt='image of a developer named Nick')
      div(class='developer-intr')
        div(class='developer-name' id='developer-name-left') Kristy Zhang
        div(class='developer-story')   My name is Kristy Zhang. I’ve been working on software design and development related work for 4 years. My experience includes communicating and analyzing user requirements, authoring functional requirement documentation and workflows, building data frames and interactive prototypes, implementing web applications within a team.
        div(class='developer-link')
          a(href='https://github.com/KristyCS' class='github-icon')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/kristy-zhang-708ab763/' class='linkedIn-icon')
            i(class="fab fa-linkedin")

    div(class='developer-Nick')
      div(class='developer-intr')
        div(class='developer-name' id='developer-name-right') Nick Sim
        div(class='developer-story')  Hey! I'm Nick Sim. I'm a software engineer based in Portland, OR. I've worked as a freelance web developer creating static pages for businesses, and as a manager of a korean bbq restaurant. I love to solve daily problems by creating small yet functional applications using my software development skills.
        div(class='developer-link' id='developer-link-right')
          a(href='https://njsim.github.io/' class='portfolio-icon')
            i(class="fas fa-user-circle")
          a(href='https://github.com/NJSim' class='github-icon')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/nicolas-sim-156422170/' class='linkedIn-icon')
            i(class="fab fa-linkedin")
      div(class='developer-image')
        img(src='../image/nick.JPG', width='200' height='200' alt='image of a developer named Nick')

    div(class='developer-Jack')
      div(class='developer-image')
        img(src='../image/jack.jpeg', width='200' height='200' alt='image of a developer named Jack')
      div(class='developer-intr')
        div(class='developer-name' id='developer-name-left') Wei-Yang Lin(Jack)
        div(class='developer-story') I am a software engineer with a CPA license. I have experience building dynamic full stack web application using JavaScript, Python, React / Redux, HTML / CSS, SQLAlchemy, Flask, Node, and Express. When not coding, you can find me at weddings flexing my creative muscle with some of the best wedding photographers in the Bay Area.
        div(class='developer-link')
          a(href='https://wylin94.github.io' class='portfolio-icon')
            i(class="fas fa-user-circle")
          a(href='https://github.com/wylin94' class='github-icon')
            i(class="fab fa-github")
          a(href='https://www.linkedin.com/in/wylin94/' class='linkedIn-icon')
            i(class="fab fa-linkedin")
